$black: #333333;
$white: #ffffff;
$yellow: #fce38a;
$pink: #f38181;
$grey: #999999;
$agua: #95e1d3;
$light: #cccccc;

$breakpoint-xl: 1230px;
$breakpoint-lg: 990px;
$breakpoint-md: 770px;
$breakpoint-sm: 575px;
