<section class="section" id="about">
    <div class="container">
        <div class="section__header">
            <h3 class='section__suptitle'>What we do</h3>
            <h2 class='section__title'>Story about us</h2>
            <div class="section__text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card__item">
                <div class="card__inner">
                    <div class="card__img">
                        <img src="img/about/1.jpg" alt="about-1">
                    </div>
                    <div class="card__text">Super team</div>
                </div>
            </div>

            <div class="card__item">
                <div class="card__inner">
                    <div class="card__img">
                        <img src="img/about/2.jpg" alt="about-2">
                    </div>
                    <div class="card__text">Super team</div>
                </div>
            </div>

            <div class="card__item">
                <div class="card__inner">
                    <div class="card__img">
                        <img src="img/about/3.jpg" alt="about-3">
                    </div>
                    <div class="card__text">Super team</div>
                </div>
            </div>

        </div><!-- /.card -->
    </div><!-- /.container -->
</section>

<div class="statistics">
    <div class="container">

        <div class="stat">
            <div class="stat__item">
                <div class="stat__count">
                    42
                </div>
                <div class="stat__text">
                    Web Design Projects
                </div>
            </div>
            <div class="stat__item">
                <div class="stat__count">
                    123
                </div>
                <div class="stat__text">
                    happy client
                </div>
            </div>
            <div class="stat__item">
                <div class="stat__count">
                    15
                </div>
                <div class="stat__text">
                    award winner
                </div>
            </div>
            <div class="stat__item">
                <div class="stat__count">
                    99
                </div>
                <div class="stat__text">
                    cup of coffee
                </div>
            </div>
            <div class="stat__item">
                <div class="stat__count">
                    24
                </div>
                <div class="stat__text">
                    members
                </div>
            </div>
        </div><!-- /.stat -->

    </div><!-- /.container -->
</div><!-- /.statistics -->
