<section class="section section--clients">
    <div class="container">

        <div class="section__header">
            <h3 class='section__suptitle'>Happy Clients</h3>
            <h2 class='section__title'>What people say</h2>
        </div>

        <div class="clients">

            <div class="clients__item">
                <img class="clients__photo" src="img/clients/2.png" alt="client-1">
                <div class="clients__content">
                    <div class="clients__name">Matthew Dix</div>
                    <div class="clients__prof">Graphic Design</div>
                    <div class="clients__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                    </div>
                </div>
            </div>

            <div class="clients__item">
                <img class="clients__photo" src="img/clients/3.png" alt="client-2">
                <div class="clients__content">
                    <div class="clients__name">Nick Karvounis</div>
                    <div class="clients__prof">Graphic Design</div>
                    <div class="clients__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                    </div>
                </div>
            </div>

            <div class="clients__item">
                <img class="clients__photo" src="img/clients/4.png" alt="client-3">
                <div class="clients__content">
                    <div class="clients__name">Jaelynn Castillo</div>
                    <div class="clients__prof">Graphic Design</div>
                    <div class="clients__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                    </div>
                </div>
            </div>

            <div class="clients__item">
                <img class="clients__photo" src="img/clients/5.png" alt="client-4">
                <div class="clients__content">
                    <div class="clients__name">Mike Petrucci</div>
                    <div class="clients__prof">Graphic Design</div>
                    <div class="clients__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                    </div>
                </div>
            </div>

        </div> <!-- /.clients -->

    </div> <!-- /.container -->
</section>
