<div class="section">
    <div class="container">
        <div class="reviews">

            <div data-slider>
                <div>
                    <div class="reviews__item">
                        <img class="reviews__photo" src="img/clients/1.png" alt="clients-1">
                        <div class="reviews__text">
                            “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
                        </div>
                        <div class="reviews__author">
                            Jon Doe
                        </div>
                    </div>
                </div>

                <div>
                    <div class="reviews__item">
                        <img class="reviews__photo" src="img/clients/1.png" alt="clients-1">
                        <div class="reviews__text">
                            “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
                        </div>
                        <div class="reviews__author">
                            Jon Doe
                        </div>
                    </div>
                </div>

            </div>

        </div><!-- /.reviews -->
    </div><!-- /.container -->
</div>
