<section class="section" id="services">
    <div class="container">

        <div class="section__header">
            <h3 class='section__suptitle'>We work with</h3>
            <h2 class='section__title'>Amazing Services</h2>
        </div>

        <div class="services">
            <div class="services__item services__item--border">
                <img class='services__icon' src="img/services/1.png" alt="services-1">

                <div class="services__title">
                    Photography
                </div>

                <div class="services__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </div>
            </div>
            <div class="services__item services__item--border">
                <img class='services__icon' src="img/services/2.png" alt="services-2">

                <div class="services__title">
                    Web design
                </div>

                <div class="services__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </div>
            </div>
            <div class="services__item services__item--border">
                <img class='services__icon' src="img/services/3.png" alt="services-3">

                <div class="services__title">
                    Creativity
                </div>

                <div class="services__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </div>
            </div>
            <div class="services__item">
                <img class='services__icon' src="img/services/4.png" alt="services-4">

                <div class="services__title">
                    Seo
                </div>

                <div class="services__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </div>
            </div>
            <div class="services__item">
                <img class='services__icon' src="img/services/5.png" alt="services-5">

                <div class="services__title">
                    CSS/HTML
                </div>

                <div class="services__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </div>
            </div>
            <div class="services__item">
                <img class='services__icon' src="img/services/6.png" alt="services-6">

                <div class="services__title">
                    Digital
                </div>

                <div class="services__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </div>
            </div>
        </div><!-- /.services -->

    </div><!-- /.container -->
</section>
