.wedo {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.wedo__item {
    width: 50%;
    padding: 0 15px;

    @media (max-width: $breakpoint-md) {
        width: 100%;
    }
}

.wedo__img {
    display: block;
    max-width: 100%;
    height: auto;

    @media (max-width: $breakpoint-md) {
        display: none;
    }
}









